
body {
    background-color: #eaedf2;
    font-family: "Gothic A1", sans-serif;
}
.top {
    display: grid;
    place-items: center;
    margin-top: 90px;
}

.main_text {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}
.sub_text {
    font-size: 30px;
    font-weight: 900;
}

.yacht_container_4 {
    margin-top: 10px;
    width: 1200px;
    height: 290px;
    display: grid;
    grid-template-rows: 290px;
    grid-template-columns: 300px 300px 300px 300px;
    grid-auto-rows: 2900px;
    gap: 20px;
}

.yacht_container_2 {
    margin-top: 10px;
    width: 600px;
    height: 290px;
    display: grid;
    grid-template-rows: 290px;
    grid-template-columns: 300px 300px;
    grid-auto-rows: 2900px;
    gap: 20px;
}

.yacht_container_1 {
    margin-top: 10px;
    width: 300px;
    height: 290px;
    display: grid;
    grid-template-rows: 290px;
    grid-template-columns: 300px;
    grid-auto-rows: 2900px;
    gap: 20px;
}

.yacht {
    width: 300px;
    background-color: #ecf0f1;
    border: 1px solid #000;
    
    overflow: hidden;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.yacht img {
    width: 300px;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    object-fit: auto;
}
.yacht h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.yacht p {
    margin-left: 10px;
}
.yacht:hover img {
    transform-origin: bottom;
    transform: scale(1.1);
    transition: transform .1s;

}
