body {
    background-color: #eaedf2;
    font-family: "Gothic A1", sans-serif;
}
.top {
    margin-top: 90px;
}

.inline {
    display: flex;
    margin-left: 400px;
    margin-top: 130px;
}

.main_pic {
    width: 500px;
    height: 700px;
    
    object-fit: cover;
}
.inline_text {
    margin-left: 50px;
    width: 800px;
}
.inline_text h2 {
    font-size: 70px;
    font-weight: 900;
}
.inline_text h3 {
    font-size: 40px;
    font-weight: 500;
}
.inline_text p {
    font-size: 20px;
}