body {
    background-color: #eaedf2;
    font-family: "Gothic A1", sans-serif;
}
.top {
    margin-top: 90px;
}

.inline {
    display: flex;
    margin-left: 300px;
    margin-top: 130px;
}

.main_pic {
    width: 500px;
    height: 700px;
    
    object-fit: contain;
}
.inline_text {
    margin-left: 50px;
    width: 800px;
}
.inline_text h2 {
    font-size: 70px;
    font-weight: 900;
}
.inline_text h3 {
    font-size: 40px;
    font-weight: 500;
}
.inline_text p {
    font-size: 20px;
}

.detail_table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 22px;
    font-weight: 400;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.detail_table th {
    background-color: #009879;
    color: #ffffff;
}

.detail_table th, td {
    padding : 5px;
}